<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.haciendo.traders"
        versionCode="10" 
        version   = "0.0.1">

    <!-- versionCode is optional and Android only -->
    <gap:platform name="android" />
    <preference name="phonegap-version"           value="3.3.0" />
        
    <name>Traders</name>

    <description>
        Aplicacion distribuida de trueque
    </description>

    <author href="https://github.com/haciendo" email="jlurgo@gmail.com">
        Laboratorio Haciendo
    </author>
        
    <access origin="*"/>
</widget>