
/*Pantalla Contactos*/

#pantalla_contacto
#panel_contacto {
	border: solid 1px;
    position: absolute;
    top:0px;
    bottom:0px;
	width: 75%;
	height: 100%;
    left: 25%;
}

/*
#pantalla_contacto
#txt_id_contacto_add{
	position: absolute;
	top: 2px;
	right: 31px;
}
*/





#pantalla_contacto
#lbl_nombre_contacto {
    
}

#pantalla_contacto
#panel_inventario_contacto {
	padding:10px;
}



