
/*Pantalla Trueques*/

#pantalla_lista_trueques
{
	border: solid 1px;
    position: absolute;
	width: 24.6%;
    right: 3px;
	
	bottom: 0px;
	display: none;
	z-index: 1;
}

#pantalla_lista_trueques
	#lista_trueques
{
    position: absolute;
    top: 28px;
    left: 0px;
    right: 0px;
    bottom: 60px;
}


#pantalla_lista_trueques
	#panel_alta_trueque
{
	position: absolute;
	top:0;
	right:0;
	
}

#pantalla_lista_trueques
	#btn_add_trueque
{
	position: absolute;
	top:3px;
	right:3px;
}

#pantalla_lista_trueques
	.trueque_en_lista
		#nombre
{
    position: absolute;
    left: 5px;
    top: 8px;
}

#pantalla_lista_trueques
	.trueque_seleccionado
{
    background-color: rgb(231, 231, 231);
}
