



/*
#btn_load,
#btn_save {
    float: right;
    margin:5px;
}
*/

.producto_en_inventario #btn_eliminar {
    position: absolute;
    top:5px;
    left:5px;
    color:red;
    background-color: black;
    border-radius: 50%;
    display:none;
    width: 23px;
    height: 23px;
    font-weight: bold;
}

.producto_en_inventario #btn_eliminar: hover {
    background-color: white;
    color:black;
}

.producto_en_inventario #nombre {
    position: absolute;
    top:50%;
    left:5px;
    right:5px;
    color:black;
}


.botonera_usuario {
	position: absolute;
	top: 10px;
	left: 120px;
}




.avatar_usuario {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin:10px;
}

.lbl_nombre_usuario {
    display: inline-block;
    font-size: 45px;
    font-weight: bold;
    vertical-align: bottom;
    margin-bottom: 24px;
}



.botonera_usuario {
	position: absolute;
	top: 10px;
	left: 120px;
}

.seccion_container{
	border: solid 1px;
	/*position: absolute;
	bottom: 0px;*/
}


.datos_usuario {
    background-color: rgb(248, 248, 248); 
    /*position: absolute;
	top: 0;
	height: 120px;
	width: 50%;
	*/
}

#panel_inventario_container{
	/*left:0;
	top: 120px;
	height: 25%;
	width: 50%;
	*/
}


#panel_me_deben_container{
	/*
	left:0%;
	top:50%;
	
	height: 50%;
	width: 50%;
	*/
}


#panel_debo_container{
	/*left:50%;
	top:50%;
	height: 50%;
	width: 50%;
	*/
}

#panel_trueques_pendientes_container{
/*	position: absolute;
	left:50%;
	top:0;
	height: 50%;
	width: 50%;
*/
}



#panel_inventario {
    padding:10px;
}

#panel_alta_producto {
	float: right;
	margin-right: 3px;
	margin-top: -31px;
}

#btn_add_trueque{
	float: right;
	margin-right: 3px;
	margin-top: -31px;
}


#panel_alta_producto #btn_add_producto{
	margin-top: -12px;
}
/*
#panel_alta_producto #txt_nombre_producto_add{
	margin-right: 30px;
    margin-top: 0px;
	
	width: 100px;
}
*/


ul.panel{
	position: absolute;
	width: 50%;
	top: 0px;
	bottom: 0px;
}


ul.panel li:last-child{
	float:none;
	overflow:hidden;
}



.panel_izq{
	left: 0;
}


.panel_der{
	left: 50%;
}

