



/*
#btn_load,
#btn_save {
    float: right;
    margin:5px;
}
*/
#pantalla_usuario
	.producto_en_inventario
		#btn_eliminar {
    position: absolute;
    top:5px;
    left:5px;
    color:red;
    background-color: black;
    border-radius: 50%;
    display:none;
    width: 23px;
    height: 23px;
    font-weight: bold;
}

#pantalla_usuario
	.producto_en_inventario
		#btn_eliminar: hover {
    background-color: white;
    color:black;
}

#pantalla_usuario
	.producto_en_inventario
		#nombre {
    position: absolute;
    top:50%;
    left:5px;
    right:5px;
    color:black;
}




#pantalla_usuario
	#panel_inventario_container{
    height: 100%;
	/*left:0;
	top: 120px;
	height: 25%;
	width: 50%;
	*/
    position: absolute;
    width: 100%;
}

#pantalla_usuario
	#panel_me_deben_container{
	/*
	left:0%;
	top:50%;
	
	height: 50%;
	width: 50%;
	*/
}

#pantalla_usuario
	#panel_debo_container{
	/*left:50%;
	top:50%;
	height: 50%;
	width: 50%;
	*/
}
#pantalla_usuario
	#panel_trueques_pendientes_container{
/*	position: absolute;
	left:50%;
	top:0;
	height: 50%;
	width: 50%;
*/
}


#pantalla_usuario
	#panel_inventario {
    padding:10px;
}

#pantalla_usuario
	#panel_alta_producto {
	float: right;
	margin-right: 3px;
	margin-top: -31px;
}
#pantalla_usuario
	#btn_add_trueque{
	float: right;
	margin-right: 3px;
	margin-top: -31px;
}

#pantalla_usuario
	#panel_alta_producto
		#btn_add_producto{
	margin-top: -12px;
}
/*
#panel_alta_producto #txt_nombre_producto_add{
	margin-right: 30px;
    margin-top: 0px;
	
	width: 100px;
}
*/

#pantalla_usuario
	ul.panel{
	position: absolute;
	width: 50%;
	top: 0px;
	bottom: 0px;
}

#pantalla_usuario
	ul.panel li:last-child{
	
	float:none;
	overflow:hidden;
}


#pantalla_usuario
	.panel_izq{
	left: 0;
}

#pantalla_usuario
	.panel_der
{
	left: 50%;
}

#avatar_usuario{
    cursor:pointer;
	margin-left: -2px;
	margin-top: -3px;
}

#video_para_sacar_foto {
    height: 100px;
    width: 133px;
    margin-left: -16px;
    cursor: pointer;
}

#div_recorte_avatar{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    border: black solid;
    display: inline-block;
    overflow: hidden;
    margin:5px;
    position: relative;
}
