
#pantalla_inicio{
	top:0;
    display: visible;
}

#pantalla_inicio
	.barra_superior{
		position: relative;
		background-color: rgb(231, 231, 231);
		height: 60px;
		transition: all .2s;
}

#pantalla_inicio
	.titulo_pantalla{
		font-size: 40px;
		font-style: italic;
		position: absolute;
		top:20px;
		left: 5px;
}

#pantalla_inicio
	#comentarios_login{
		display: inline-block;
		width: 272px;
		font-size: 14px;
		font-style: italic;
		color: red;
		position: absolute;
		right: 425px;
		bottom: 11px;			
}

#pantalla_inicio
	#nombre_usuario{
		position: absolute;
		right: 257px;
		width: 150px;
		top: 14px;
}

#pantalla_inicio
	#contenedor_password{
		position: absolute;
		right: 99px;
		width: 150px;
		height: 30px;
		top: 14px;
}

#pantalla_inicio
	#indicador_fuerza {
		height: 22px;
		width: 22px;
		position: absolute;
		right: -8px;
		top: 4px;
		background-color: red;
		border-radius: 5px;
}

#pantalla_inicio
	#password{
		width: 100%;
}

#pantalla_inicio
	#boton_ingresar {
		position: absolute;
		right: 10px;
		top: 14px;
}	

@media screen and (max-width: 900px) {
	#pantalla_inicio
		.barra_superior{
			height: 150px;
	}
	
	#pantalla_inicio
		#comentarios_login{
			left: 10px;
	}
	
	#pantalla_inicio
		#nombre_usuario{
			left: 10px;
			top: 60px;
	}

	#pantalla_inicio
		#contenedor_password{
			left: 183px;
			top: 60px;
	}

	#pantalla_inicio
		#boton_ingresar {
			left: 357px;
			top: 60px;
	}	
}

@media screen and (max-width: 433px) {	
	#pantalla_inicio
		.barra_superior{
			height: 228px;
	}
	
	#pantalla_inicio
		#comentarios_login{
			left: 10px;
			right: 10px;
	}
	
	#pantalla_inicio
		#nombre_usuario{
			left: 10px;
			top: 60px;
			right: 10px;
			width: 90%;
	}

	#pantalla_inicio
		#contenedor_password{
			left: 10px;
			top: 100px;
			right: 10px;
			width: 90%;
	}

	#pantalla_inicio
		#boton_ingresar {
			left: 10px;
			top: 140px;
			right: 10px;
			width: 94%;
	}	
}