
/*Pantalla Contactos*/

#pantalla_lista_contactos {
	position: absolute;
	width: 200px;
	bottom: 0px;
	display: none;
	z-index: 1;
	left: 0px;
	border-right: 2px dashed #04c;
	top: 0px;
}

@media screen and (max-width: 550px) {	
    #pantalla_lista_contactos{
		width: 100%;
	}
}

#pantalla_lista_contactos
#lista_contactos {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 33px;
}


#pantalla_lista_contactos
#panel_alta_contacto {
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	height: 33px;	
}

#pantalla_lista_contactos
#btn_add_contacto{
	position: absolute;
	bottom:4px;
	right:4px;	
	border-radius: 50%;
	height: 30px;
	width: 30px;
	padding-left: 10px;
}

#pantalla_lista_contactos
.contacto_en_lista #nombre{
    position: absolute;
    left: 40px;
    top: 8px;
}

#pantalla_lista_contactos
.contacto_seleccionado{
    background-color: rgb(231, 231, 231);
}

#pantalla_lista_contactos #avatar{
	display: inline-block;
	height: 30px;
	width: 30px;
	margin-top: -7px;
	border-radius: 50%;
	border: 2px solid black;
	border-width: 2px;
    margin-left:-7px;
    transition:all .2s;
}

#pantalla_lista_contactos
    .contacto_seleccionado
        #avatar{
            -webkit-box-shadow: 0px 0px 15px 0px rgba(255,132,0,1);
            -moz-box-shadow: 0px 0px 15px 0px rgba(255,132,0,1);
            box-shadow: 0px 0px 15px 0px rgba(255,132,0,1);
            
}
