.conexion_en_lista {
}

.conexion_en_lista #chk_activar {
	
}

.conexion_en_lista #url {
	display: inline-block;
}

#pantalla_lista_conexiones
#btn_add_conexion{
	position: absolute;
	bottom:4px;
	right:4px;	
	border-radius: 50%;
	height: 30px;
	width: 30px;
	padding-left: 10px;
}

#pantalla_lista_conexiones
	#panel_alta_conexion
{
	position: absolute;
	right: 0px;
	left: 0px;
	bottom: 0px;
	height: 33px;		
}

#pantalla_lista_conexiones
#lista_conexiones {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 30px;
}
