
/*Pantalla Contactos*/

#pantalla_amigos
#panel_contenedor_lista_contactos {
	border: solid 1px;
    position: absolute;
	width: 50%;
	top: 0px;
	height: 100%;
	bottom: 0px;
}

#pantalla_amigos
#panel_contacto {
	border: solid 1px;
    position: absolute;
    top:0px;
    bottom:0px;
	width: 50%;
	height: 100%;
    left: 50%;
}


#pantalla_amigos
#panel_alta_contacto {
	position: absolute;
	top:0;
	right:0;
	
}

#pantalla_amigos
#btn_add_contacto{
	position: absolute;
	top:3px;
	right:3px;
}

#pantalla_amigos
#txt_id_contacto_add{
	position: absolute;
	top: 2px;
	right: 31px;
}



#pantalla_amigos
#panel_contenedor_lista_contactos
#panel_lista_contactos {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 60px;
}


#pantalla_amigos
#panel_datos_contacto {
}

#pantalla_amigos
#lbl_nombre_contacto {
    
}

#pantalla_amigos
#panel_inventario_contacto {
	padding:10px;
}


