
/*Pantalla Contactos*/
#pantalla_contacto{
	border: solid 1px;
    position: absolute;
    bottom:0px;
	/*height: 100%;*/
    left: 25%;
}

/*
#pantalla_contacto
#txt_id_contacto_add{
	position: absolute;
	top: 2px;
	right: 31px;
}
*/


#pantalla_contacto
#panel_inventario_contacto {
	padding:10px;
}

#avatar_contacto{
	margin-top: 5px;
	margin-left: 5px;
}


