.conexion_en_lista {
}

.conexion_en_lista #chk_activar {
	
}

.conexion_en_lista #url {
	display: inline-block;
}

#pantalla_lista_conexiones
#btn_add_conexion{
	position: absolute;
	top:3px;
	right:3px;
}

#pantalla_lista_conexiones
	#panel_alta_conexion
{
	position: absolute;
	top:0;
	right:0;
	
}

#pantalla_lista_conexiones
#lista_conexiones {
    position: absolute;
    top: 28px;
    left: 0px;
    right: 0px;
    bottom: 60px;
}
