.pantalla_edicion_producto{
	
	
}

.pantalla_edicion_producto #div_imagen_producto{
	display: inline-block;
}

.pantalla_edicion_producto #imagen_producto{
	height: 100px;
	width: 100px;
    cursor: pointer;
}

.pantalla_edicion_producto #video_para_sacar_foto{
	position: absolute;
	display: none;
}

.pantalla_edicion_producto .titulo_atributo_producto{
	display: inline-block;
	margin-right: 5px;
	font-weight: bold;
}

.pantalla_edicion_producto input
	height: 35px;
	font-size: 18px;
}