
#plantillas{
    display:none;
}

html, body{
    height:100%;
    margin: 0px;
}


ul {
	list-style-type: none;
	margin:0;
	padding:0;
}



#trocador {
    height: 100%;
}

.pantalla{
    display: none;
	
    position: absolute;
    top: 40px;
    bottom: 5px;
	left:5px;
	right:5px;
}



.titulo_pantalla{
    position: absolute;
    left: 5px;
    font-size: 40px;
    font-style: italic;
    bottom: 10px;
}



.producto_en_inventario {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: gray;
    margin: 2px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
    padding: 5px;
    position: relative;
}


.producto_en_inventario:hover {
    border:3px solid yellow;
}

.producto_seleccionado_para_trueque{
    background-color: yellow;
}

.producto_seleccionado_para_trueque:hover{
    border: 3px solid gray;
}




.producto_en_inventario:hover {
    border:3px solid yellow;
}

.producto_seleccionado_para_trueque{
    background-color: yellow;
}

.producto_seleccionado_para_trueque:hover{
    border: 3px solid gray;
}

.producto_en_inventario #btn_eliminar {
    position: absolute;
    top:5px;
    left:5px;
    color:red;
    background-color: black;
    border-radius: 50%;
    display:none;
    width: 23px;
    height: 23px;
    font-weight: bold;
}

.producto_en_inventario #btn_eliminar : hover {
    background-color: white;
    color:black;
}

.producto_en_inventario #nombre {
    position: absolute;
    top:50%;
    left:5px;
    right:5px;
    color:black;
}

.contacto_en_lista{
    font-size: 25px;
    vertical-align: bottom;
    height: 40px;
    border: 1px solid black;
    border-radius: 5px;
    transition: all .5s ease;
    cursor: pointer;
    margin: 5px;
    position: relative;
}

.contacto_en_lista:hover{
    background-color: rgb(231, 231, 231);
}

.contacto_en_lista #nombre{
    position: absolute;
    left: 5px;
    top: 8px;
}

.contacto_seleccionado{
    background-color: rgb(231, 231, 231);
}



.chk_acuerdo{
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 10px;
    position: absolute;
    bottom: 10px;
    transition: all .5s ease;
}

#pantalla_trueque  #chk_usuario_de_acuerdo {
    left: 50%;
    margin-left: -55px;
    cursor: pointer;
}

#pantalla_trueque  #chk_contacto_de_acuerdo {
    left: 50%;
    margin-left: 5px;
}

.checkeado{
    background-color: lime;
}

.titulo_panel {
	height: 45px;
}


.descripcion_titulo{
	font-size: 35px;
	padding: 13px 10px 0px 10px;
}


#pantalla_trueque #avatar_contacto {
    position: absolute;
    right: 0px;
}


#pantalla_trueque #lbl_nombre_usuario{
    
}

#pantalla_trueque #lbl_nombre_contacto{
    float: right;
    position: absolute;
    right: 0px;
    bottom: 0px;
    margin-right: 124px;
}

#pantalla_trueque #panel_inventario_usuario {
    position: absolute;
    width: 50%;
    left: 10px;
    top: 205px;
}

#pantalla_trueque #panel_inventario_contacto {
    position: absolute;
    width: 50%;
    left: 50%;
    margin-right: 10px;
    margin-left: 10px;
    top: 205px;
}

#pantalla_trueque #titulo_panel_inventario_usuario {
    position: absolute;
}

#pantalla_trueque #titulo_panel_inventario_contacto {
    position: absolute;
    right: 10px;
    margin-left: 0px;
}

