
#plantillas{
    display:none;
}

html, body{
    height:100%;
    margin: 0px;
}


ul {
	list-style-type: none;
	margin:0;
	padding:0;
}



#trocador {
    height: 100%;
}

.pantalla{
    display: none;
	
    position: absolute;
    top: 40px;
    bottom: 5px;
	left:5px;
	right:5px;
}



.titulo_pantalla{
    position: absolute;
    left: 5px;
    font-size: 40px;
    font-style: italic;
    bottom: 10px;
}



.producto_en_inventario {
    display: inline-block;
    width: 80px;
    height: 80px;
    background-color: gray;
    margin: 2px;
    text-align: center;
    box-sizing: border-box;
    border-radius: 5px;
    transition: all .5s;
    cursor: pointer;
    padding: 5px;
    position: relative;
}


.producto_en_inventario:hover {
    border:3px solid yellow;
}

.producto_seleccionado_para_trueque{
    background-color: yellow;
}

.producto_seleccionado_para_trueque:hover{
    border: 3px solid gray;
}



.titulo_panel {
	height: 45px;
}


.descripcion_titulo{
	font-size: 35px;
	padding: 13px 10px 0px 10px;
}


.producto_en_inventario:hover {
    border:3px solid yellow;
}

.producto_seleccionado_para_trueque{
    background-color: yellow;
}

.producto_seleccionado_para_trueque:hover{
    border: 3px solid gray;
}

.producto_en_inventario #btn_eliminar {
    position: absolute;
    top:5px;
    left:5px;
    color:red;
    background-color: black;
    border-radius: 50%;
    display:none;
    width: 23px;
    height: 23px;
    font-weight: bold;
}

.producto_en_inventario #btn_eliminar : hover {
    background-color: white;
    color:black;
}

.producto_en_inventario #nombre {
    position: absolute;
    top:50%;
    left:5px;
    right:5px;
    color:black;
}


.datos_usuario {
    background-color: rgb(248, 248, 248);
}



.avatar_usuario {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    margin:10px;
}

.lbl_nombre_usuario {
	
	position: absolute;
	top: 80px;
	left: 115px;
	
	
	font-size: 45px;
    font-weight: bold;
    vertical-align: bottom;
}



.botonera_usuario {
	position: absolute;
	top: 10px;
	left: 115px;
}


.seccion_container{
	border: solid 1px;
	/*position: absolute;
	bottom: 0px;*/
}
