.producto_en_lista #thumbnail_producto{
	display: inline-block;
	height: 30px;
	width: 30px;
	margin-left: -4px;
	margin-top: -4px;
}

.producto_en_lista #avatar_propietario{
	display: none;
	position: absolute;
	right: 2px;
	top: 3px;
	height: 30px;
	width: 30px;
	border-radius: 50%;
	border: 2px solid black;
}

.producto_en_lista #nombre{
	position: absolute;
	left: 41px;
	right: 35px;
	top: 5px;
	word-break: break-all;
	line-height: 27px;
	height: 27px;
	overflow: hidden;	
}